body {
    padding: 10px;
    font-size: 1.2rem;
    font-family: sans-serif;

}

/* a {
    color: blue;
    text-decoration: none;
} */

a:hover {
    text-decoration: underline;
    transform: scale(1.1);
}

a {
    display: inline-block;
    transition: transform 0.2s ease;
}

/* a:link {
    color: green;
    text-decoration: none;
} */

/* a:visited {
    color: purple;
} */

a:active {
    color: black;
}

.button {
    display: inline-block;
    color: white;
    background-color: blue;
    height: 20%;
    padding: 10px 20px;
    text-align: center;
    border-radius: 5px;
    transition: all 0.3s ease;
}

a:hover img {
    transform: scale(1.5);
    box-shadow: 0 4px 8px rgba(255, 0, 0, 0.1);
}

a img {
    height: 70px;
    border-radius: 20px;
}